<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidbots.areatravelogue"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="OnlineMaps.Key"
            android:value="T1DE0LUmerp8oUAA1Dqs07W5gcK5ZeKv" />
        <meta-data
            android:name="OnlineSearch.Key"
            android:value="T1DE0LUmerp8oUAA1Dqs07W5gcK5ZeKv" />
        <meta-data
            android:name="OnlineRouting.Key"
            android:value="T1DE0LUmerp8oUAA1Dqs07W5gcK5ZeKv" />

        <activity
            android:name=".CameraViewActivity"
            android:label="@string/title_activity_camera_view"
            android:screenOrientation="portrait"/>
        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PopUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StoreDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".FindTourGuides"
            android:screenOrientation="portrait"/>
    </application>

</manifest>